In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('sales.csv')

In [12]:
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018
2,&&&,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,&&&,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019

In [13]:
df.describe()

,Quantity,Profit,Total,cogs,Total,gross income,Rating
count,17.000000,19.000000,19.000000,19.000000,19.000000,18.000000,19.000000
mean,6.352941,18.846816,948.728079,376.936316,4.761905,19.436861,6.721053
std,2.289683,11.172497,2005.642859,223.449946,0.000000,11.187640,1.680139
min,2.000000,2.896000,60.816000,57.920000,4.761905,2.896000,4.100000
25%,5.000000,8.213250,209.616750,164.265000,4.761905,9.084750,5.500000
50%,6.000000,21.595000,457.443000,431.900000,4.761905,21.689000,6.900000
75%,7.000000,27.128750,609.026250,542.575000,4.761905,27.622375,8.100000
max,10.000000,36.780000,8975.360000,735.600000,4.761905,36.780000,9.600000

In [29]:
# Total number of missing values
df.isnull().sum().sum()

np.int64(0)

In [28]:
df.isna().sum()

Invoice ID           0
Branch               0
City(nature)         0
Customer type        0
Gender               0
Product line         0
Unit price           0
Quantity             0
Profit               0
Total                0
Time                 0
Payment              0
cogs                 0
Total                0
gross income         0
Rating               0
Last date visited    0
bucket               0
normalized_profit    0
Z_Total              0
dtype: int64

In [16]:
# Define the garbage values to be replaced
garbage_values = ['&&&','***',"%%%",'$$$']

# Replace garbage values with NaN
df.replace(garbage_values,inplace=True)
df.head()

/var/folders/tz/7hwjwyrx3w534bszd3hld6hw0000gn/T/ipykernel_19062/971300078.py:5: FutureWarning: DataFrame.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df.replace(garbage_values,inplace=True)

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019

In [17]:
df['bucket']=pd.cut(pd.to_numeric(df['Unit price']),3,labels=['low price','mid-price','high price'])
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016,high price
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018,low price
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020,mid-price
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022,mid-price
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019,mid-price

In [18]:
#applying min-max normalisation
df['normalized_profit'] = (df['Profit'] - df['Profit'].min()) / (df['Profit'].max() - df['Profit'].min())
#check the data contents
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket,normalized_profit
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016,high price,0.686032
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018,low price,0.027270
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020,mid-price,0.393091
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022,mid-price,0.601818
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019,mid-price,0.806059

In [21]:
df['Z_Total']=(df['Total']-df['Total'].mean())/df['Total'].std()
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket,normalized_profit,Z_Total
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016,high price,0.686032,-0.199316
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018,low price,0.027270,-0.433032
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020,mid-price,0.393091,-0.303246
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022,mid-price,0.601818,-0.229193
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019,mid-price,0.806059,-0.156733

In [19]:
mode=df['Quantity'].mode()[0]
df['Quantity'].fillna(mode,inplace=True)
df

/var/folders/tz/7hwjwyrx3w534bszd3hld6hw0000gn/T/ipykernel_19062/4151580856.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(mode,inplace=True)

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket,normalized_profit
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016,high price,0.686032
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018,low price,0.027270
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020,mid-price,0.393091
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022,mid-price,0.601818
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019,mid-price,0.806059
5,699-14-3026,C,Naypyitaw(Local),Normal,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,18:30,Ewallet,597.73,4.761905,29.8865,4.1,03-06-2019,high price,0.796556
6,355-53-5943,A,Yangon(Local),Member,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,14:36,Ewallet,413.04,4.761905,20.6520,5.8,05-06-2015,high price,0.524023
7,355-53-5943,C,Naypyitaw(Local),Normal,Female,Home and lifestyle,73.56,10.0,36.7800,772.3800,11:38,Ewallet,735.60,4.761905,36.7800,8.0,17-03-2016,high price,1.000000
8,665-32-9167,A,Yangon(Local),Member,Female,Health and beauty,36.26,2.0,3.6260,2356.2300,17:15,Credit card,72.52,4.761905,3.6260,7.2,21-02-2018,low price,0.021544
9,692-92-5582,B,Mandalay(urban),Member,Female,Food and beverages,54.84,6.0,8.2260,172.7460,13:27,Credit card,164.52,4.761905,NaN,5.9,04-10-2012,mid-price,0.157301
10,351-62-0822,B,Mandalay(urban),Member,Female,Fashion accessories,13.25,4.0,2.8960,60.8160,18:07,Ewallet,57.92,4.761905,2.8960,4.5,29-01-2020,low price,0.000000
11,529-56-3974,B,Mandalay(urban),Member,Male,Electronic accessories,25.51,6.0,5.1020,107.1420,17:03,Cash,102.04,4.761905,5.1020,6.8,08-06-2019,low price,0.065104
12,365-64-0515,A,Naypyitaw(Local),Normal,Female,Electronic accessories,46.95,5.0,11.7375,246.4875,10:25,Ewallet,234.75,4.761905,11.7375,7.1,21-05-2011,mid-price,0.260934
13,252-56-2699,A,Yangon(Local),Normal,Male,Food and beverages,21.25,10.0,21.5950,453.4950,16:48,Ewallet,431.90,4.761905,21.5950,8.2,12-10-2014,low price,0.551853
14,252-56-2699,A,Yangon(Local),Normal,Female,Health and beauty,71.38,10.0,35.6900,8975.3600,19:21,Credit card,713.80,4.761905,35.6900,5.7,11-11-2016,high price,0.967831
15,299-46-1805,B,Mandalay(urban),Member,Female,Sports and travel,93.72,6.0,28.1160,590.4360,16:19,Cash,562.32,4.761905,28.1160,4.5,19-03-2014,high price,0.744304
16,656-95-9349,A,Yangon(Local),Member,Female,Health and beauty,68.93,6.0,24.1255,506.6355,11:03,Credit card,482.51,4.761905,24.1255,4.6,11-01-2018,high price,0.626535
17,656-95-9349,A,Yangon(Local),Normal,Male,Sports and travel,72.61,6.0,21.7830,457.4430,10:39,Credit card,435.66,4.761905,21.7830,6.9,08-07-2015,high price,0.557402
18,329-62-1586,A,Yangon(Local),Normal,Male,Food and beverages,54.67,3.0,8.2005,172.2105,18:00,Credit card,164.01,4.761905,8.2005,8.6,03-06-2014,mid-price,0.156549

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
category=['Product line']
encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(df[category])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(category))

df1=pd.concat([df,one_hot_df],axis=1)
df1.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,...,Last date visited,bucket,normalized_profit,Z_Total,Product line_Electronic accessories,Product line_Fashion accessories,Product line_Food and beverages,Product line_Health and beauty,Product line_Home and lifestyle,Product line_Sports and travel
0,750-67-8428,A,Yangon(Local),Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,...,02-10-2016,high price,0.686032,-0.199316,0.0,0.0,0.0,1.0,0.0,0.0
1,226-31-3081,C,Naypyitaw(Local),Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,...,26-08-2018,low price,0.027270,-0.433032,1.0,0.0,0.0,0.0,0.0,0.0
2,226-31-3081,A,Yangon(Local),Normal,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,...,14-09-2020,mid-price,0.393091,-0.303246,0.0,0.0,0.0,0.0,1.0,0.0
3,123-19-1176,A,Yangon(Local),Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,...,10-10-2022,mid-price,0.601818,-0.229193,0.0,0.0,0.0,1.0,0.0,0.0
4,373-73-7910,A,Yangon(Local),Normal,Female,Sports and travel,58.22,7.0,30.2085,634.3785,...,28-09-2019,mid-price,0.806059,-0.156733,0.0,0.0,0.0,0.0,0.0,1.0

In [24]:
# Import label encoder
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [25]:
df['Customer type'] = label_encoder.fit_transform(df['Customer type'])
df.head(10)

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket,normalized_profit,Z_Total
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.1415,9.1,02-10-2016,high price,0.686032,-0.199316
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.8200,9.6,26-08-2018,low price,0.027270,-0.433032
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.2155,7.4,14-09-2020,mid-price,0.393091,-0.303246
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.2880,8.4,10-10-2022,mid-price,0.601818,-0.229193
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.2085,5.3,28-09-2019,mid-price,0.806059,-0.156733
5,699-14-3026,C,Naypyitaw(Local),1,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,18:30,Ewallet,597.73,4.761905,29.8865,4.1,03-06-2019,high price,0.796556,-0.160104
6,355-53-5943,A,Yangon(Local),0,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,14:36,Ewallet,413.04,4.761905,20.6520,5.8,05-06-2015,high price,0.524023,-0.256794
7,355-53-5943,C,Naypyitaw(Local),1,Female,Home and lifestyle,73.56,10.0,36.7800,772.3800,11:38,Ewallet,735.60,4.761905,36.7800,8.0,17-03-2016,high price,1.000000,-0.087926
8,665-32-9167,A,Yangon(Local),0,Female,Health and beauty,36.26,2.0,3.6260,2356.2300,17:15,Credit card,72.52,4.761905,3.6260,7.2,21-02-2018,low price,0.021544,0.701771
9,692-92-5582,B,Mandalay(urban),0,Female,Food and beverages,54.84,6.0,8.2260,172.7460,13:27,Credit card,164.52,4.761905,NaN,5.9,04-10-2012,mid-price,0.157301,-0.386899

In [27]:
mean=df['gross income'].mean()
df['gross income'].fillna(mean,inplace=True)
df

/var/folders/tz/7hwjwyrx3w534bszd3hld6hw0000gn/T/ipykernel_19062/4274637639.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['gross income'].fillna(mean,inplace=True)

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,Time,Payment,cogs,Total,gross income,Rating,Last date visited,bucket,normalized_profit,Z_Total
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,13:08,Ewallet,522.83,4.761905,26.141500,9.1,02-10-2016,high price,0.686032,-0.199316
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,10:29,Cash,76.40,4.761905,3.820000,9.6,26-08-2018,low price,0.027270,-0.433032
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,13:23,Credit card,324.31,4.761905,16.215500,7.4,14-09-2020,mid-price,0.393091,-0.303246
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,20:33,Ewallet,465.76,4.761905,23.288000,8.4,10-10-2022,mid-price,0.601818,-0.229193
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,10:37,Ewallet,604.17,4.761905,30.208500,5.3,28-09-2019,mid-price,0.806059,-0.156733
5,699-14-3026,C,Naypyitaw(Local),1,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,18:30,Ewallet,597.73,4.761905,29.886500,4.1,03-06-2019,high price,0.796556,-0.160104
6,355-53-5943,A,Yangon(Local),0,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,14:36,Ewallet,413.04,4.761905,20.652000,5.8,05-06-2015,high price,0.524023,-0.256794
7,355-53-5943,C,Naypyitaw(Local),1,Female,Home and lifestyle,73.56,10.0,36.7800,772.3800,11:38,Ewallet,735.60,4.761905,36.780000,8.0,17-03-2016,high price,1.000000,-0.087926
8,665-32-9167,A,Yangon(Local),0,Female,Health and beauty,36.26,2.0,3.6260,2356.2300,17:15,Credit card,72.52,4.761905,3.626000,7.2,21-02-2018,low price,0.021544,0.701771
9,692-92-5582,B,Mandalay(urban),0,Female,Food and beverages,54.84,6.0,8.2260,172.7460,13:27,Credit card,164.52,4.761905,19.436861,5.9,04-10-2012,mid-price,0.157301,-0.386899
10,351-62-0822,B,Mandalay(urban),0,Female,Fashion accessories,13.25,4.0,2.8960,60.8160,18:07,Ewallet,57.92,4.761905,2.896000,4.5,29-01-2020,low price,0.000000,-0.442707
11,529-56-3974,B,Mandalay(urban),0,Male,Electronic accessories,25.51,6.0,5.1020,107.1420,17:03,Cash,102.04,4.761905,5.102000,6.8,08-06-2019,low price,0.065104,-0.419609
12,365-64-0515,A,Naypyitaw(Local),1,Female,Electronic accessories,46.95,5.0,11.7375,246.4875,10:25,Ewallet,234.75,4.761905,11.737500,7.1,21-05-2011,mid-price,0.260934,-0.350132
13,252-56-2699,A,Yangon(Local),1,Male,Food and beverages,21.25,10.0,21.5950,453.4950,16:48,Ewallet,431.90,4.761905,21.595000,8.2,12-10-2014,low price,0.551853,-0.246920
14,252-56-2699,A,Yangon(Local),1,Female,Health and beauty,71.38,10.0,35.6900,8975.3600,19:21,Credit card,713.80,4.761905,35.690000,5.7,11-11-2016,high price,0.967831,4.002025
15,299-46-1805,B,Mandalay(urban),0,Female,Sports and travel,93.72,6.0,28.1160,590.4360,16:19,Cash,562.32,4.761905,28.116000,4.5,19-03-2014,high price,0.744304,-0.178642
16,656-95-9349,A,Yangon(Local),0,Female,Health and beauty,68.93,6.0,24.1255,506.6355,11:03,Credit card,482.51,4.761905,24.125500,4.6,11-01-2018,high price,0.626535,-0.220424
17,656-95-9349,A,Yangon(Local),1,Male,Sports and travel,72.61,6.0,21.7830,457.4430,10:39,Credit card,435.66,4.761905,21.783000,6.9,08-07-2015,high price,0.557402,-0.244951
18,329-62-1586,A,Yangon(Local),1,Male,Food and beverages,54.67,3.0,8.2005,172.2105,18:00,Credit card,164.01,4.761905,8.200500,8.6,03-06-2014,mid-price,0.156549,-0.387166

In [30]:
df[['City','Nature']]=df['City(nature)'].str.split("(" ,expand=True)

In [31]:
df['Last date visited'] = pd.to_datetime(df['Last date visited'], format="%d-%m-%Y")

In [32]:

df['day']=df['Last date visited'].dt.day

In [33]:
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,...,Total,gross income,Rating,Last date visited,bucket,normalized_profit,Z_Total,City,Nature,day
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,...,4.761905,26.1415,9.1,2016-10-02,high price,0.686032,-0.199316,Yangon,Local),2
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,...,4.761905,3.8200,9.6,2018-08-26,low price,0.027270,-0.433032,Naypyitaw,Local),26
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,...,4.761905,16.2155,7.4,2020-09-14,mid-price,0.393091,-0.303246,Yangon,Local),14
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,...,4.761905,23.2880,8.4,2022-10-10,mid-price,0.601818,-0.229193,Yangon,Local),10
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,...,4.761905,30.2085,5.3,2019-09-28,mid-price,0.806059,-0.156733,Yangon,Local),28

In [34]:
df['month']=df['Last date visited'].dt.month
df['year']=df['Last date visited'].dt.year

In [35]:
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,...,Rating,Last date visited,bucket,normalized_profit,Z_Total,City,Nature,day,month,year
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,...,9.1,2016-10-02,high price,0.686032,-0.199316,Yangon,Local),2,10,2016
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,...,9.6,2018-08-26,low price,0.027270,-0.433032,Naypyitaw,Local),26,8,2018
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,...,7.4,2020-09-14,mid-price,0.393091,-0.303246,Yangon,Local),14,9,2020
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,...,8.4,2022-10-10,mid-price,0.601818,-0.229193,Yangon,Local),10,10,2022
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,...,5.3,2019-09-28,mid-price,0.806059,-0.156733,Yangon,Local),28,9,2019

In [36]:
df.head()

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,...,Rating,Last date visited,bucket,normalized_profit,Z_Total,City,Nature,day,month,year
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,...,9.1,2016-10-02,high price,0.686032,-0.199316,Yangon,Local),2,10,2016
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,...,9.6,2018-08-26,low price,0.027270,-0.433032,Naypyitaw,Local),26,8,2018
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,...,7.4,2020-09-14,mid-price,0.393091,-0.303246,Yangon,Local),14,9,2020
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,...,8.4,2022-10-10,mid-price,0.601818,-0.229193,Yangon,Local),10,10,2022
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,...,5.3,2019-09-28,mid-price,0.806059,-0.156733,Yangon,Local),28,9,2019

In [37]:
df[df['Gender'].isnull()]

Empty DataFrame
Columns: [Invoice ID, Branch, City(nature), Customer type, Gender, Product line, Unit price, Quantity, Profit, Total, Time, Payment, cogs, Total , gross income, Rating, Last date visited, bucket, normalized_profit, Z_Total, City, Nature, day, month, year]
Index: []

[0 rows x 25 columns]

In [38]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

df[df['Gender'].isnull()]

/var/folders/tz/7hwjwyrx3w534bszd3hld6hw0000gn/T/ipykernel_19062/2263878426.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)

Empty DataFrame
Columns: [Invoice ID, Branch, City(nature), Customer type, Gender, Product line, Unit price, Quantity, Profit, Total, Time, Payment, cogs, Total , gross income, Rating, Last date visited, bucket, normalized_profit, Z_Total, City, Nature, day, month, year]
Index: []

[0 rows x 25 columns]

In [39]:
mode=df['Quantity'].mode()[0]
df['Quantity'].fillna(mode,inplace=True)
df

/var/folders/tz/7hwjwyrx3w534bszd3hld6hw0000gn/T/ipykernel_19062/4151580856.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(mode,inplace=True)

,Invoice ID,Branch,City(nature),Customer type,Gender,Product line,Unit price,Quantity,Profit,Total,...,Rating,Last date visited,bucket,normalized_profit,Z_Total,City,Nature,day,month,year
0,750-67-8428,A,Yangon(Local),0,Female,Health and beauty,74.69,7.0,26.1415,548.9715,...,9.1,2016-10-02,high price,0.686032,-0.199316,Yangon,Local),2,10,2016
1,226-31-3081,C,Naypyitaw(Local),1,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,...,9.6,2018-08-26,low price,0.027270,-0.433032,Naypyitaw,Local),26,8,2018
2,226-31-3081,A,Yangon(Local),1,Male,Home and lifestyle,46.33,6.0,16.2155,340.5255,...,7.4,2020-09-14,mid-price,0.393091,-0.303246,Yangon,Local),14,9,2020
3,123-19-1176,A,Yangon(Local),0,Male,Health and beauty,58.22,8.0,23.2880,489.0480,...,8.4,2022-10-10,mid-price,0.601818,-0.229193,Yangon,Local),10,10,2022
4,373-73-7910,A,Yangon(Local),1,Female,Sports and travel,58.22,7.0,30.2085,634.3785,...,5.3,2019-09-28,mid-price,0.806059,-0.156733,Yangon,Local),28,9,2019
5,699-14-3026,C,Naypyitaw(Local),1,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,...,4.1,2019-06-03,high price,0.796556,-0.160104,Naypyitaw,Local),3,6,2019
6,355-53-5943,A,Yangon(Local),0,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,...,5.8,2015-06-05,high price,0.524023,-0.256794,Yangon,Local),5,6,2015
7,355-53-5943,C,Naypyitaw(Local),1,Female,Home and lifestyle,73.56,10.0,36.7800,772.3800,...,8.0,2016-03-17,high price,1.000000,-0.087926,Naypyitaw,Local),17,3,2016
8,665-32-9167,A,Yangon(Local),0,Female,Health and beauty,36.26,2.0,3.6260,2356.2300,...,7.2,2018-02-21,low price,0.021544,0.701771,Yangon,Local),21,2,2018
9,692-92-5582,B,Mandalay(urban),0,Female,Food and beverages,54.84,6.0,8.2260,172.7460,...,5.9,2012-10-04,mid-price,0.157301,-0.386899,Mandalay,urban),4,10,2012
10,351-62-0822,B,Mandalay(urban),0,Female,Fashion accessories,13.25,4.0,2.8960,60.8160,...,4.5,2020-01-29,low price,0.000000,-0.442707,Mandalay,urban),29,1,2020
11,529-56-3974,B,Mandalay(urban),0,Male,Electronic accessories,25.51,6.0,5.1020,107.1420,...,6.8,2019-06-08,low price,0.065104,-0.419609,Mandalay,urban),8,6,2019
12,365-64-0515,A,Naypyitaw(Local),1,Female,Electronic accessories,46.95,5.0,11.7375,246.4875,...,7.1,2011-05-21,mid-price,0.260934,-0.350132,Naypyitaw,Local),21,5,2011
13,252-56-2699,A,Yangon(Local),1,Male,Food and beverages,21.25,10.0,21.5950,453.4950,...,8.2,2014-10-12,low price,0.551853,-0.246920,Yangon,Local),12,10,2014
14,252-56-2699,A,Yangon(Local),1,Female,Health and beauty,71.38,10.0,35.6900,8975.3600,...,5.7,2016-11-11,high price,0.967831,4.002025,Yangon,Local),11,11,2016
15,299-46-1805,B,Mandalay(urban),0,Female,Sports and travel,93.72,6.0,28.1160,590.4360,...,4.5,2014-03-19,high price,0.744304,-0.178642,Mandalay,urban),19,3,2014
16,656-95-9349,A,Yangon(Local),0,Female,Health and beauty,68.93,6.0,24.1255,506.6355,...,4.6,2018-01-11,high price,0.626535,-0.220424,Yangon,Local),11,1,2018
17,656-95-9349,A,Yangon(Local),1,Male,Sports and travel,72.61,6.0,21.7830,457.4430,...,6.9,2015-07-08,high price,0.557402,-0.244951,Yangon,Local),8,7,2015
18,329-62-1586,A,Yangon(Local),1,Male,Food and beverages,54.67,3.0,8.2005,172.2105,...,8.6,2014-06-03,mid-price,0.156549,-0.387166,Yangon,Local),3,6,2014